@model ProyectoFinalAplicada2.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Fecha de venta</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Boletas)
        {
            <tr>
                <td>
                    @b.Id
                </td>
                <td>
                    @b.Fecha
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
